<launch>



  <rosparam param="sim">false</rosparam>
  <rosparam param="map">true</rosparam>
  <rosparam param="rviz">true</rosparam>


  <node pkg="asl_turtlebot" type="supervisor.py" name="turtlebot_supervisor" output="screen"/>
  <node pkg="asl_turtlebot" type="detector_viz.py" name="turtlebot_detector_viz" />  
  <node pkg="asl_turtlebot" type="pose_controller.py" name="turtlebot_pose_controller" />
  <node pkg="asl_turtlebot" type="navigator.py" name="turtlebot_navigator" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find asl_turtlebot)/rviz/nav.rviz"/>

</launch>
